body {
	font-family: "Comic Sans MS", "Comic Sans", "sans-serif";
	font-size: 100%;
	color: black;
}
header {
	text-align: center;
}
section {
	width: 25rem;
	margin: auto;
}
.add-item {
	font-size: 120%;
	text-align: left;
}
input {
	height: 1.2rem;
	min-width: 15rem;
}
#price {
	min-width: 14.2rem;
}
button {
	background-color: #34495E;
	color: #dd5;
	margin-top: 0.8rem;
	margin-bottom: 1rem;
	padding: 3px 5px;
	border-radius: 10px;
	position: relative;
	left: 5rem;
	top: 0.125rem;
	width: 10.3rem;
	font-family: "Comic Sans MS", "Comic Sans", "sans-serif";
	text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 90%;
}

fieldset {
	border-radius: .4rem;
	min-width: 10rem;
}
fieldset > legend{
	font-weight: bolder;
}
#t-I-need, #t-my-bag {
  background: #34495E;
  color: #fff;
  border-radius: .4rem;
  min-width: 100%;
 } 
tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-color: lighten(#34495E, 10%);
}
th {
   text-align: left;
   margin: .5rem 1rem;
   width:25%;
   min-width:1rem;
}
.table-head {
	color: #dd5;
}
p {
	float: right;
	min-width: 40%;
	margin-bottom: 0.5rem;
	text-align: right;
}
.check {
	margin: 4px 8px 0px 0px;
	width: 1.25rem;
	height: 1.25rem;
}
.cross {
	margin: 2px 8px;
	width: 1.1rem;
	height: 1.1rem;
}
.arrowup {
	margin: 2px 8px 2px 0px;
	width: 1.2rem;
	height: 1.2rem;
}
.cross:hover {
	cursor: pointer;
}
.check:hover {
	cursor: pointer;
}
.arrowup:hover {
	cursor: pointer;
}

@media only screen and (max-device-width: 980px) {
	body {
		font-size: 180%
	}
    section {
    	width: 55%;
    }
    input {
    	height: 2.5rem;
		width: 60%;
	}
	#price {
		width: 57%;
	}
	button {
		width: 37%;
		left: 25.5%;
	}
	.check {
		width: 2rem;
		height: 2rem;
	}
	.cross {
		width: 1.9rem;
		height: 1.9rem;
	}
	.arrowup {
		width: 1.95rem;
		height: 1.95rem;
	}
}